*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#F3F4F6;
min-height:100vh;
}

.pantalla{
display:none;
padding:20px;
}

.activa{
display:block;
}

.login-card{
max-width:400px;
margin:50px auto;
background:#FFFFFF;
padding:30px;
border-radius:20px;
box-shadow:0 10px 30px rgba(0,0,0,0.1);
text-align:center;
}

.logo{
width:80px;
height:80px;
background:#2563EB;
color:white;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
font-size:35px;
margin:auto;
margin-bottom:20px;
}

h1,h2,h3{
color:#2563EB;
}

.subtitulo{
margin:10px 0 20px;
color:#666;
}

input{
width:100%;
padding:12px;
margin:10px 0;
border:1px solid #ccc;
border-radius:10px;
font-size:14px;
}

button{
background:#2563EB;
color:white;
border:none;
padding:12px 20px;
border-radius:10px;
cursor:pointer;
font-weight:600;
transition:.3s;
}

button:hover{
background:#1D4ED8;
}

.registro{
margin-top:15px;
}

.registro a{
color:#2563EB;
text-decoration:none;
font-weight:600;
}

.topbar{
background:#2563EB;
color:white;
padding:15px 20px;
border-radius:15px;
display:flex;
justify-content:space-between;
align-items:center;
}

.topbar h2{
color:white;
}

.contenido{
margin-top:20px;
}

.estadisticas{
display:flex;
gap:15px;
margin-bottom:20px;
}

.card{
background:white;
padding:20px;
flex:1;
border-radius:15px;
text-align:center;
box-shadow:0 3px 10px rgba(0,0,0,.08);
}

.agregar{
display:flex;
gap:10px;
margin-bottom:20px;
}

ul{
list-style:none;
}

li{
background:white;
padding:15px;
margin-bottom:10px;
border-radius:10px;
display:flex;
justify-content:space-between;
align-items:center;
box-shadow:0 2px 8px rgba(0,0,0,.08);
}

.completada{
text-decoration:line-through;
color:gray;
}

.boton-flotante{
position:fixed;
bottom:30px;
right:30px;
width:60px;
height:60px;
border-radius:50%;
font-size:30px;
}

.perfil-card{
max-width:500px;
margin:auto;
background:white;
padding:30px;
border-radius:20px;
box-shadow:0 5px 15px rgba(0,0,0,.1);
text-align:center;
}

.avatar{
width:100px;
height:100px;
background:#2563EB;
color:white;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
font-size:30px;
margin:auto;
margin-bottom:15px;
}

.barra{
width:100%;
height:20px;
background:#ddd;
border-radius:20px;
overflow:hidden;
margin:20px 0;
}

.relleno{
height:100%;
width:0%;
background:#2563EB;
transition:.4s;
}

.cerrar{
background:#DC2626;
margin-top:10px;
}